.container {
  max-width: 960px;
}

body {
  margin: 0%;
  display: flex;
  flex-wrap: wrap;
}

header {
  height: 19vh;
  width: 100%;
}

.the_btm_end {
  background-color: aquamarine !important;
}

.btn {
  background-color: aquamarine !important;
}

.weegoingtofinish {
  background-color: aquamarine !important;
}