header {
  height: 19%;
  width: 100%;
  background-image: url("../images/header.png");
  background-size: 100%;
  background-repeat: no-repeat;

}

.top_header {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
}

.bottom_header {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.right2 {
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
}

.left2 {
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: flex-end;
}

.in {
  height: 100%;
  width: 20%;
  margin-left: 5%;
  margin-bottom: 20%;
}

.d1 {
  margin-right: 17%;

}

.d5 {
  margin-left: 1%;
}

.the_a {
  height: 80%;
  width: 100%;
}

.top_forrishum {
  height: 70%;
  width: 30%;
  background-color: rgb(255, 255, 255);
  margin-right: 0%;
  margin-top: 1.2%;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}




/* לכניסה ורישום */
button {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  cursor: pointer;
}

button {
  --primary-color: #111;
  --hovered-color: #c84747;
  position: relative;
  display: flex;
  font-weight: 600;
  font-size: 20px;
  gap: 0.5rem;
  align-items: center;
}

button p {
  margin: 0;
  position: relative;
  font-size: 20px;
  color: var(--primary-color);
}

button::after {
  position: absolute;
  content: "";
  width: 0;
  left: 0;
  bottom: -7px;
  background: var(--hovered-color);
  height: 2px;
  transition: 0.3s ease-out;
}

button p::before {
  position: absolute;
  /*   box-sizing: border-box; */
  content: "לכניסה או רישום";
  width: 0%;
  inset: 0;
  color: var(--hovered-color);
  overflow: hidden;
  transition: 0.3s ease-out;
}

button:hover::after {
  width: 100%;
}

button:hover p::before {
  width: 100%;
}

button:hover svg {
  transform: translateX(4px);
  color: var(--hovered-color);
}

button svg {
  color: var(--primary-color);
  transition: 0.2s;
  position: relative;
  width: 15px;
  transition-delay: 0.2s;
}