header{
    height: 19vh;
    width: 100%;
    background-image: url("../images/header.png");
    background-size: 100%;
    background-repeat: no-repeat;
}
/* .buttomheader{
height:40%;
width: 100%;
background-color: rgb(211, 209, 209);
display: flex;
justify-content: space-around;
}
.topheader{
    height:60%;
    width: 100%;
    background-color:white;
display: flex; justify-content: flex-end;}
.rightbuttomheader{

width:30%;
height:100%;
background-color: rgb(134, 37, 37);
display: flex;
justify-content: space-around;
}
.leftbuttomheader{
    width:30%;
    height:100%;
    background-color: rgb(134, 37, 37);
    display: flex;
    justify-content: space-around;
}
.inbuttomheader{
    height:100%;
    width:33%;
background-color: rgb(159, 154, 154);
display: flex;
justify-content:center;
align-items: center;
}
.logo{
  background-image: url("../images/LOGO1-1.png");
  width:16%;
  height: 100%;
  background-repeat: no-repeat;
 margin-left: 22%;

}
a{
    text-decoration: none;
    font-size: x-large;
    color:rgb(56, 54, 54)
}
.pphone{
margin-left: 1%;
font-size: 25px;
margin-top: 10%;

}
.headerphone{
    width:15%;
    height:100%;
   margin-left: 5%;
   display: flex;
   align-items: flex-start;
   justify-content: flex-end;
   flex-direction: row-reverse;

}
.picphone{
width:15%;
height: 50%;
background-size: 100%;
background-image: url("../images/phone.png");
margin-top: 10%;
margin-right: 5%;
background-repeat: no-repeat;


}
.picphone:hover{
background-image: url("../images/phone1.png");
}
.yousale{
    height: 100%;
    width: 100%;
    background-color: red;
   
    background-image:url("../images/sale.png") ;
    background-repeat: no-repeat;
    border-radius: 5px;
   
}
.link{
    height: 80%;
    width: 15%; margin-left: 18%;
     margin-top: 0.2%;
    
} */
.top_header{
    height: 50%;
    background-color: aqua;
    width: 100%;
}
.bottom_header{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.right{
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: center
}
.left{
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: flex-start
}
.in{
    height: 100%;
    width: 20%;
    margin-left: 5%;
    /* background-color: blanchedalmond; */
}
.d1{
    margin-right: 17%;
    
}
.d5{
    margin-left: 1%;
}
.the_a{
    height: 100%;
    width: 100%;
    background-color: aqua;
}