body{
    margin: 0%;
}
*{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
   
}
#all{
    height: 100vh;
    width: 100%;
    
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    flex-wrap: wrap;
}#imageandform{
 
    height: 82%;
    width: 100%;
    display: flex;
    align-items: normal;
    align-items: center;
    animation-name: try;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    background-size: 100%;
    background-repeat: no-repeat;
}
@keyframes try {
    0% {
        background-image: url("../images/home1.jpg");
    }
  
    33% {
        background-image: url("../images/home2.jpeg");
    }
  
    66% {
        background-image: url("../images/home3.jpg");
    }
  
    100% {
        background-image: url("../images/home4.jpeg");
    }
  
    
  }
.form{
    height: 70%;
    width: 20%;
    background-color: rgb(116, 113, 110);
    margin-right:10% ;
    border-radius: 4%;
   opacity: 0.5;
  position: relative;
    
}

.inform{
   
   position: absolute;
  right: 11%;

    background-color: white;
    height: 53%;
    width: 18%;
   opacity: 0.9;
    border-radius: 4%;

}
.area{
   
    height:8% ;
    padding-top: 10%;
  margin-right: 2%;
    
}
.selectarea{margin-top: 2%; height:80%;width:90%;
    background-color: rgb(235, 230, 233);
    opacity: 0.9;
   
}
.option{
  
    margin-right: 2%;
    height:8% ;
    padding-top: 2%;
}
.mafyen{
    margin-top: 2%; height:80%;width:90%;
    background-color: rgb(232, 219, 226);
    opacity: 0.9;
  
}
.numrooms{height:14%;margin-top: 2%; margin-right: 2%;}
.money{height:14%;margin-top: 2%;margin-right: 2%;}
.l{width:80%; height:8%;}
.num{
    font-size: large;
    color:rgb(56, 54, 54);
    color:rgb(129, 5, 5);
}
.tvach{
    font-size: larger;
    color:rgb(56, 54, 54);
    margin-right: 42%;
    color:rgb(129, 5, 5);
}
.tvacha{
    font-size:medium;
    color:rgb(56, 54, 54);
    margin-right: 10%;
    color:rgb(129, 5, 5);
}
#demo{
    font-size:medium;
    margin-right: 38%;
    color:rgb(129, 5, 5);
}
#demo2{
    font-size:medium;
    margin-right: 18%;
    color:rgb(129, 5, 5);
}
.br{
    width: 100%;
    background-color: white;
}
.br1{
    height: 5%;
}
.br2{
    height: 5%;
}
.br3{
    height: 40%;
}
.br4{
    height: 10%;
}